<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Breakfast Club</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid nav-pad">
          <h1><a href="/feed" id="homeButton">Breakfast Club</a></h1>
          <% if (!user) { %>
          <div>
            <a href="/signup" class="btn btn-secondary btn-sm">Sign up</a>
            <a href="/login" class="btn btn-secondary btn-sm">Login</a>
          </div>
          <% }else{%>
          <div>
            <a href="/posts/createPost" class="btn btn-secondary btn-sm">New</a>
            <a href="/posts/likedPosts" class="btn btn-secondary btn-sm"
              >Likes</a
            >
            <a href="/logout" class="btn btn-secondary btn-sm">Logout</a>
          </div>
          <% } %>
        </div>
      </nav>
    </header>
  </body>
</html>
