<%- include('partials/header') -%>

<div class="indexContainer">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Good Morning!</h1>
      <p class="lead">It is always morning to the <span id="breakfast-club-paragraph-text">Breakfast Club</span>. Some say Breakfast is the most important meal of the day. Some say that
      dinner is. Regardless of what side of the table you sit at, we can all
      agree that we like food. Share a photo of what you had for breakfast with
      the world!(or in this case, all 5 users).</p>
      
      
     
    </div>
    <p class="intro">
     
    </p>
  </div>
</div>

<%- include('partials/footer') -%>
