.indexContainer {
  margin-top: 10%;
  padding-bottom: 5%;
  background-color: gray;
  opacity: 0.75;
}

h1 {
  color: rgba(255, 166, 0, 0.715);
  font-style: bold;
  font-size: 2 rem;
  font-family: "Anton", sans-serif;
}

.intro {
  padding: 0, 2.5%, 0, 2.5%;
}

#breakfast-club-paragraph-text{
  color: rgba(255, 166, 0, 0.715);
  font-weight: bold;
}

#submit-btn, #login-page-signup-btn{
  background-color: rgba(255, 166, 0, 0.715);
  border: rgba(255, 166, 0, 0.715) ;
}

#homeButton {
  color: rgba(255, 166, 0, 0.715);
  font-style: bold;
  font-size: 2 rem;
  font-family: "Anton", sans-serif;
  text-decoration: none;
}

/* Controls the width of user images on the feed. */
.userImages {
  width: 500px;
}